#chessboard {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid #333;
}

.square {
  width: 100%;
  height: 100%;
}

.dark {
  background-color: #769656; /* Dark green */
}

.light {
  background-color: #eeeed2; /* Light beige */
}
